ws-automatico/n8n-workflows/whatsapp-csv-workflow.json
{
  "id": "whatsapp-csv-sender-001",
  "name": "WhatsApp CSV Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-csv-upload",
        "responseMode": "onReceived",
        "options": { "allowedOrigins": "*" }
      },
      "id": "aaaa0001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-csv-upload"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body;\nconst contactos = body.contactos || [];\nconst plantillas = [\n  '👋🏻Hola! Nos contactamos desde Buenos Aires Logística. 🚚 Tenemos un envío de {empresa} para entregarte.\\nQueremos avisarte que la entrega se realizará hoy entre las 16:00 y las 22:00 hs.\\nEn caso de que por cuestiones operativas no llegue a completarse dentro de ese rango, la entrega pasará automáticamente al siguiente día hábil entre las 10:30 y las 22:00 hs.\\nAgradecemos tu comprensión y quedamos atentos ante cualquier consulta 🙌',\n  '📦 ¡Hola! Te contactamos desde Buenos Aires Logística.\\n\\nQueremos informarte que tenemos un envío de {empresa} programado para ser entregado hoy 🚚.\\n\\n⏰ El horario estimado de entrega es entre las 16:00 y las 22:00 hs.\\n\\nSi por razones operativas no fuera posible concretar la entrega dentro de ese período, el envío será reprogramado automáticamente para el próximo día hábil entre las 10:30 y las 22:00 hs.\\n\\n¡Muchas gracias por tu comprensión! 😊 Estamos a disposición para cualquier consulta.',\n  '👋 ¡Hola que tal!\\n\\nDesde Buenos Aires Logística queremos avisarte que tu envío de {empresa} se encuentra en ruta 🚛.\\n\\n📍 La entrega está prevista para hoy entre las 16:00 y las 22:00 hs.\\n\\nEn caso de surgir alguna demora operativa que impida completar la entrega en ese horario, la misma se realizará el siguiente día hábil dentro de la franja de 10:30 a 22:00 hs.\\n\\nGracias por tu paciencia y confianza. 🙌 Ante cualquier duda, estamos para ayudarte.',\n  '🚚 ¡Hola!\\n\\nTe escribimos desde Buenos Aires Logística para informarte que estamos coordinando la entrega de tu envío de {empresa}.\\n\\n🕓 La visita está programada para realizarse hoy entre las 16:00 y las 22:00 hs.\\n\\nSi por motivos logísticos la entrega no pudiera efectuarse en ese rango horario, se reagendará automáticamente para el próximo día hábil entre las 10:30 y las 22:00 hs.\\n\\n✨ Gracias por tu comprensión. Si necesitas asistencia o tienes alguna consulta, no dudes en contactarnos.'\n];\nconst mensajeCustom = (body.mensaje && body.mensaje.trim()) ? body.mensaje.trim() : null;\n\nreturn contactos.map(c => {\n  let tel = String(c.telefono || '').replace(/\\D/g, '');\n  if (tel.length === 10) tel = '549' + tel;\n  const template = mensajeCustom || plantillas[Math.floor(Math.random() * plantillas.length)];\n  return { json: { chatId: tel + '@c.us', message: template.replace(/\\{empresa\\}/gi, c.nombre_empresa || '') } };\n});"
      },
      "id": "aaaa0002-0000-0000-0000-000000000002",
      "name": "Formatear Contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "aaaa0003-0000-0000-0000-000000000003",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ws-wwebjs:3000/client/sendMessage/default",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-api-key", "value": "34d0e1f22e96ddc98de69f39295251001b7152b120dc3a72" }]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "chatId", "value": "={{ $json.chatId }}" },
            { "name": "content", "value": "={{ $json.message }}" },
            { "name": "contentType", "value": "string" }
          ]
        },
        "options": { "timeout": 30000 },
        "onError": "continueRegularOutput"
      },
      "id": "aaaa0004-0000-0000-0000-000000000004",
      "name": "Enviar Mensaje WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const segundos = Math.floor(Math.random() * 16) + 45;\nreturn [{ json: { waitSeconds: segundos } }];"
      },
      "id": "aaaa0007-0000-0000-0000-000000000007",
      "name": "Calcular Espera",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "resumeAmount": "={{ $json.waitSeconds }}",
        "resumeUnit": "seconds",
        "options": {}
      },
      "id": "aaaa0005-0000-0000-0000-000000000005",
      "name": "Esperar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1280, 300],
      "webhookId": "aaaa0006-0000-0000-0000-000000000006"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Formatear Contactos", "type": "main", "index": 0 }]]
    },
    "Formatear Contactos": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [
        [],
        [{ "node": "Enviar Mensaje WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Enviar Mensaje WhatsApp": {
      "main": [[{ "node": "Calcular Espera", "type": "main", "index": 0 }]]
    },
    "Calcular Espera": {
      "main": [[{ "node": "Esperar", "type": "main", "index": 0 }]]
    },
    "Esperar": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "tags": [{ "name": "whatsapp" }, { "name": "logistica" }]
}
